* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b1620;
  color: #ffffff;
  
}

header {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0b16205d;
  backdrop-filter: blur(10px);
}

.logo {
  font-weight: bold;
}

nav{
  z-index: 1000;
}

nav a {
  position: relative;
  color: #cccccc;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
    font-size: 17px;
    transition: all 1s;
}

nav a.active:hover {
    font-size: 19px;
    color: red;
}

/* nav a.active {
  color: #00aaff;
} */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.hero-text {
  max-width: 550px;
}

.matn{
  font-size: 20px;
  text-align: start;
  margin-top: 10px;
}

.matn1 {
  width: 700px;
  font-size: 20px;
  margin-top: 20px;
  text-align: start;
  margin-left: 350px;
}

.matn2{
    font-size: 40px;
    text-align: start;
}

.matn3{
    font-size: 20px;
    margin-top: 10px;
    text-align: start;
}

.matn4{
    font-size: 20px;
    margin-top: 10px;
    text-align: start;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin-top: 30px;
}
.hero-img {
  position: relative;
}

.hero-img img {
  width: 380px;
  border-radius: 20px;
}

.hero-img img:hover{
    font-size: 3px;
    transition: all 0.5s;
    border: 3px solid #00aaff;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.links {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.562);  
}
 
.a-lar{
    color: grey;
    text-decoration: none;
    gap: 20px;
    font-size: 16px;
}

.a-lar:hover{
    color: deepskyblue;
    font-size: 18px;
    transition: 0.8s;
    text-decoration:dashed;
}

.copy {
  color: white;
  font-size: 16px;
}

i {
    font-size: 17px;
    font-weight: bold;
}

.admin1{
    color: deepskyblue;
    text-decoration: none;
}

.skills{
    display: flex;
    justify-content: space-between;
}

.skill:hover {
    background-color: deepskyblue;
    transition: all 4s;
    border: solid white 2px;
}

.skill {
    width: 33%;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px; 
    background-color: grey;
    padding: 30px;
    color: white;
}