* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #0f2027, #0b161c);
  color: #fff;
}

.contact {
  padding: 80px 0;
}

.container {
  width: 1100px;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
}

.subtitle {
  max-width: 800px;
  margin: 0 auto 60px;
  color: #b5c7d3;
  line-height: 1.6;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  text-align: left;
}

.card {
  border-radius: 16px;
  padding: 40px;
}

.card h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.text {
  color: #b5c7d3;
  margin-bottom: 30px;
  line-height: 1.6;
}

.info .item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.item .icon:hover {
  background: #1da1f2;
  color: #fff;
  transition: all 0.3s;
}

.item h4 {
  margin-bottom: 5px;
}

.form .row {
  display: flex;
  gap: 15px;
}

input, textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.15);
  padding: 14px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 15px;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  background: #1da1f2;
  border: none;
  padding: 14px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  margin-top: 10px;
}

button:hover {
  background: #1486cc;
}


body {
  background: #0b1620;
  color: #ffffff;
  
}

header {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0b16205d;
  backdrop-filter: blur(10px);
}

.logo {
  font-weight: bold;
}

nav a {
  position: relative;
  color: #cccccc;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
    font-size: 17px;
    transition: all 1s;
}

nav a.active:hover {
    font-size: 19px;
    color: red;
}

/* nav a.active {
  color: #00aaff;
} */

.links {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.562);  
}
 
.a-lar{
    color: grey;
    text-decoration: none;
    gap: 20px;
    font-size: 16px;
}

.a-lar:hover{
    color: deepskyblue;
    font-size: 18px;
    transition: 0.8s;
    text-decoration:dashed;
}

.copy {
  color: white;
  font-size: 16px;
}

i {
    font-size: 17px;
    font-weight: bold;
}

.admin1{
    color: deepskyblue;
    text-decoration: none;
}