* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b1620;
  color: #ffffff;
  
}

header {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0b16205d;
  backdrop-filter: blur(10px);
}

.logo {
  font-weight: bold;
}

nav a {
  position: relative;
  color: #cccccc;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
    font-size: 17px;
    transition: all 1s;
}

nav a.active:hover {
    font-size: 19px;
    color: red;
}

.Project {
  width: 100%;
  height: 90vh;
  border: none;
  margin-top: 20px;
}

/* nav a.active {
  color: #00aaff;
} */

.links {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.562);  
}
 
.a-lar{
    color: grey;
    text-decoration: none;
    gap: 20px;
    font-size: 16px;
}

.a-lar:hover{
    color: deepskyblue;
    font-size: 18px;
    transition: 0.8s;
    text-decoration:dashed;
}

.copy {
  color: white;
  font-size: 16px;
}

i {
    font-size: 17px;
    font-weight: bold;
}

.admin1{
    color: deepskyblue;
    text-decoration: none;
}

.iframed {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.Project{
  width:700px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.2);
  display:block;
  margin:40px auto;
  transition:.3s;
}

.Project:hover{
  transform:scale(1.03);
}

