* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b1620;
  color: #ffffff;
  
}

header {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0b16205d;
  backdrop-filter: blur(10px);
}

.hero-img1{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    cursor: text;
}

.logo {
  font-weight: bold;
}
.logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav a {
  position: relative;
  color: #cccccc;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
    font-size: 17px;
    transition: all 1s;
}

.active{
    transition: transform 0.3s ease;
}

nav a.active:hover {
    font-size: 19px;
    color: red;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  min-height: calc(100vh - 80px);
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-size: 52px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #00aaff;
}

.hero-text h3 {
  font-weight: 400;
  color: #00aaff;
  margin-bottom: 20px;
}

.hero-text p {
  color: #aaaaaa;
  line-height: 1.6;
  margin-bottom: 35px;
}

.buttons a {
  display: inline-block;
  padding: 12px 26px;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 15px;
  font-size: 14px;
}

.buttons a:hover{
    opacity: 0.8;
    transition: 0.5s;
    font-size: 18px;
}

.btn-primary {
  background: #00aaff;
  color: #ffffff;

}

.btn-outline {
  border: 1px solid #00aaff;
  color: #00aaff;
}

.hero-img {
  position: relative;
  background-size: cover;
}

.hero-img img {
  width: 380px;
  border-radius: 20px;
}

.hero-img img:hover{
    font-size: 3px;
    transition: all 0.5s;
    border: 3px solid #00aaff;
}

.tag {
  position: absolute;
  background: #0f2433;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tag.design {
  top: 20%;
  right: -20px;
}

.tag.code {
  bottom: 25%;
  left: -30px;
}

.tag.ideas {
  bottom: 5%;
  right: -20px;
}

.links {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.562);  
}
 
.a-lar{
    color: grey;
    text-decoration: none;
    gap: 20px;
    font-size: 16px;
}

.a-lar:hover{
    color: deepskyblue;
    font-size: 18px;
    transition: 0.8s;
    text-decoration:dashed;
}

.copy {
  color: white;
  font-size: 16px;
}

i {
    font-size: 17px;
    font-weight: bold;
}

.admin1{
    color: deepskyblue;
    text-decoration: none;
} 