*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .nav-wrapper{
    background-color: #333;
    display: flex;
 }

 .nav-wrapper ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

 .nav-wrapper ul li a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}
    
.nav-wrapper ul li a:hover{
    background-color: #555;
}   